version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      maven:
        patterns:
          - "*maven*"
      kotlin:
        patterns:
          - "*kotlin*"

